.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20vw;
    height: 100vh;
    background: #523956;
}

.lista-de-menus{
    box-sizing: border-box;
    width: 20vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
}

.lista-de-menus li{
    width: 20vw;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    align-content: center;
    text-align: center;
    height: 50px;
    padding: 7px;
    padding-left: 25px;
    list-style-type: none;
    font-size: 12pt;
    font-weight: 500;
}

.li{
    border-bottom: solid 1px rgb(53, 53, 53);
    
}

.lista-de-menus li:hover{
    background: #36193a;
}

a:link {
    text-decoration: none;
    text-align: left;
    height: 100%;
    width: 100%;
}

a {
    color: white;
}